<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.korit.mcdonaldkiosk.mapper.AdminMenuMapper">

    <resultMap id="menuResultMap" type="com.korit.mcdonaldkiosk.entity.Menu">
        <id property="menuId" column="menu_id" />
        <result property="menuName" column="menu_name" />
        <result property="menuCategory" column="menu_category" />
        <result property="menuSequence" column="menu_sequence" />
        <result property="singleImg" column="single_img" />
        <result property="setImg" column="set_img" />
        <result property="isExposure" column="is_exposure" />

        <collection property="menuPrice" resultMap="menuPriceResultMap"/>
    </resultMap>

    <resultMap id="menuPriceResultMap" type="com.korit.mcdonaldkiosk.entity.MenuPrice">
        <id property="menuPriceId" column="menu_price_id" />
        <result property="menuId" column="menu_id" />
        <result property="size" column="size" />
        <result property="menuPrice" column="menu_price" />
        <result property="discountPrice" column="discount_price" />
    </resultMap>

    <resultMap id="menuInfoResultMap" type="com.korit.mcdonaldkiosk.entity.MenuInfo">
        <id property="menuInfoId" column="menu_info_id" />
        <result property="size" column="info_size" />
        <result property="weight" column="weight" />
        <result property="volume" column="volume" />
        <result property="calories" column="calories" />
        <result property="sugars" column="sugars" />
        <result property="protein" column="protein" />
        <result property="saturatedFat" column="saturated_fat" />
        <result property="sodium" column="sodium" />
        <result property="caffeine" column="caffeine" />
        <result property="menuOrigin" column="menu_origin" />
    </resultMap>

    <resultMap id="menuWithInfoResultMap" type="com.korit.mcdonaldkiosk.entity.MenuWithAllInfo">
        <id property="menuId" column="menu_id" />
        <result property="menuName" column="menu_name" />
        <result property="menuCategory" column="menu_category" />
        <result property="singleImg" column="single_img" />
        <result property="setImg" column="set_img" />
        <result property="isExposure" column="is_exposure" />

        <collection property="menuPrice" resultMap="menuPriceResultMap" />

        <collection property="menuInfo" resultMap="menuInfoResultMap" />
    </resultMap>

    <!--아이디에 해당하는 메뉴정보 모두 불러오기-->
    <select id="selectAllInfoMenuById" resultMap="menuWithInfoResultMap">
        select
            mt.menu_id,
            mt.menu_name,
            mt.menu_category,
            mt.menu_sequence,
            mt.single_img,
            mt.set_img,
            mt.is_exposure,

            mpt.menu_price_id,
            mpt.menu_price,
            mpt.size,

            mit.menu_info_id,
            mit.size as info_size,
            mit.weight,
            mit.volume,
            mit.calories,
            mit.sugars,
            mit.protein,
            mit.saturated_fat,
            mit.sodium,
            mit.caffeine,
            mit.menu_origin

        from
            menu_tb mt
            left outer join menu_price_tb mpt on mt.menu_id = mpt.menu_id
            left outer join menu_info_tb mit on mt.menu_id = mit.menu_id

        where
            mt.menu_id = #{menuId}
    </select>

   
    <!-- 메뉴 상세 조회 쿼리 추가 -->
    <select id="selectMenuById" resultMap="menuResultMap">
        SELECT
            m.menu_id,
            m.menu_name,
            m.menu_category,
            m.menu_sequence,
            m.single_img,
            m.set_img,
            m.is_exposure,
            mp.menu_price_id,
            mp.menu_id,
            mp.size,
            mp.menu_price,
            mp.discount_price
        FROM
            menu_tb AS m
            LEFT OUTER JOIN menu_price_tb AS mp ON m.menu_id = mp.menu_id
        WHERE
            m.menu_id = #{menuId}
    </select>

   

    <!--카테고리만 불러오기-->
    <select id="selectAllCategories" resultMap="menuResultMap">
        SELECT
            menu_category
        FROM
            menu_tb mt
        group by
            menu_category
    </select>
  
    <!--클릭된 메뉴 노출여부 변경-->
    <update id="updateIsExposureByClick">
        update
            menu_tb
        set
            is_exposure = #{isExposure}
        where
            menu_id = #{menuId}
    </update>


    <!-- 전체 메뉴 조회 -->
    <select id="selectAllMenus" resultMap="menuResultMap">
        SELECT
            m.menu_id,
            m.menu_name,
            m.menu_category,
            m.menu_sequence,
            m.single_img,
            m.set_img,
            m.is_exposure,

            mp.menu_price_id,
            mp.menu_id,
            mp.size,
            mp.menu_price,
            mp.discount_price
        FROM
            menu_tb m
            LEFT OUTER JOIN menu_price_tb mp ON m.menu_id = mp.menu_id
    </select>

    <!-- 특정 메뉴 가격 조회 -->
    <select id="getMenuPrices" resultType="com.korit.mcdonaldkiosk.entity.MenuPrice">
        SELECT
            *
        FROM
            menu_price_tb
        WHERE
            menu_id = #{menuId}
    </select>

    <!-- 메뉴 추가 -->
    <insert id="insertMenu" useGeneratedKeys="true" keyProperty="menuId">
        INSERT INTO
            menu_tb (
            menu_name,
            menu_category,
            menu_sequence,
            single_img,
            set_img,
            is_exposure )
        VALUES (
            #{menuName},
            #{menuCategory},
            #{menuSequence},
            #{singleImg},
            #{setImg},
            #{isExposure} );
    </insert>

    <!-- 가격 삽입 - 세트할인가 적용 -->
    <insert id="insertMenuPrice" parameterType="com.korit.mcdonaldkiosk.entity.MenuPrice">
        INSERT INTO menu_price_tb (
            menu_id,
            size,
            menu_price,
            discount_price )
        VALUES
        <foreach collection="menuPrices" item="price" separator=",">
            (#{menuId},
            #{price.size},
            #{price.menuPrice},
            CASE WHEN
                (SELECT menu_category FROM menu_tb
            WHERE
                menu_id = #{menuId}) IN ('버거', '맥모닝', '디저트')
            THEN
                #{price.menuPrice}  -- 할인 없이 menu_price와 동일
            ELSE
                ROUND(#{price.menuPrice} * 0.7, -2)  -- 30% 할인 후 100의 자리에서 반올림한 값
            END)
        </foreach>
    </insert>

    <!--  영양정보 및 원산지 추가  -->
    <insert id="insertMenuInfo">
        INSERT INTO menu_info_tb (
            menu_id,
            size,
            weight,
            volume,
            calories,
            sugars,
            protein,
            saturated_fat,
            sodium,
            caffeine,
            menu_origin
        )
        VALUES (
            #{menuId},
            #{size},
            0, 0, 0, 0, 0, 0, 0, 0, NULL
        )
    </insert>

    <!-- 기존 가격 삭제 -->
    <delete id="deleteMenuPrices" parameterType="int">
        DELETE
        FROM
            menu_price_tb
        WHERE
            menu_id = #{menuId}
    </delete>

    <!-- 메뉴 삭제 -->
    <delete id="deleteMenu">
        DELETE FROM
            menu_tb
        WHERE
            menu_id = #{menuId}
    </delete>

    <!--  페이지네이션 이미지 + 메뉴명  -->
    <select id="selectAllMenuImages" resultType="com.korit.mcdonaldkiosk.entity.Menu">
        SELECT
            menu_id,
            menu_name,
            single_img,
            set_img
        FROM
            menu_tb
    </select>

    <!-- 메뉴 수정 (menu_tb) -->
    <update id="updateMenu" parameterType="com.korit.mcdonaldkiosk.entity.Menu">
        UPDATE
            menu_tb
        SET
            menu_name = #{menuName},
            menu_category = #{menuCategory},
            menu_sequence = #{menuSequence},
            single_img = #{singleImg},
            set_img = #{setImg},
            is_exposure = #{isExposure}
        WHERE
            menu_id = #{menuId}
    </update>


</mapper>
