<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.korit.mcdonaldkiosk.mapper.SalesMapper">

    <resultMap id="SalesResultMap" type="com.korit.mcdonaldkiosk.entity.Sales">
        <result property="year" column="year" />
        <result property="month" column="month" />
        <result property="orderCount" column="total_orders" />
        <result property="totalSales" column="total_sales" />
    </resultMap>

    <resultMap id="MenuSalesResultMap" type="com.korit.mcdonaldkiosk.entity.MenuSales">
        <id property="menuId" column="menu_id" />
        <result property="orderYear" column="order_year" />
        <result property="orderMonth" column="order_month" />
        <result property="totalCount" column="total_count" />
        <result property="sales" column="sales" />
    </resultMap>


    <select id="getSales" resultMap="SalesResultMap">
        SELECT
        year,
        month,
        total_orders,
        total_sales
        FROM
        sales_tb
        ORDER BY
        month;
    </select>

    <select id="findSales" resultMap="MenuSalesResultMap">
        SELECT
        ott.order_id,
        ott.order_year,
        ott.order_month,
        SUM(ott.menu_count) AS total_count
        FROM
        (SELECT
        DATE_FORMAT(order_time, "%Y") AS order_year,
        DATE_FORMAT(order_time, "%m") AS order_month,
        ot.order_id,
        menu_count
        FROM
        order_tb ot
        LEFT OUTER JOIN order_detail_tb olt ON olt.order_id = ot.order_id) ott
        GROUP BY
        ott.order_year,
        ott.order_month,
        ott.order_id
        ORDER BY
        ott.order_year,
        ott.order_month;
    </select>
</mapper>
